/* Material Icons font*/
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&display=block');

/* Bottoni Foreign Key */
.related-widget-wrapper .related-widget-wrapper-link {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
}
.related-widget-wrapper .related-widget-wrapper-link:last-child {
  margin-right: 0;
}

.related-widget-wrapper .material-icons {
  font-size: 1.25rem; 
}

/* Dropdown Foreign Key */
.related-widget-wrapper select {
  background-color: #ffffff9c;
  color: #000;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 6px;
}
.dark .related-widget-wrapper select {
  background-color: #374151; /* gray-700 */
  color: #fff;
  padding: 3px;
  border: 1px solid #fff;
  border-radius: 6px;
}

